:root {
    --blanc: var(--variable-collection-blanc);
    --noir: var(--variable-collection-noir);
    --turquoise: var(--variable-collection-turquoise);
    --gold: var(--variable-collection-gold);
    --gris-6: rgba(250, 250, 250, 1);
    --gris-3: rgba(152, 149, 146, 1);
    --main-black: rgba(0, 0, 0, 1);
    --gris-2: rgba(24, 23, 23, 1);
    --h-1-font-family:'Kalnia', serif;
    --h-1-font-weight: 400;
    --h-1-font-size: 34px;
    --h-1-letter-spacing: 3.4px;
    --h-1-line-height: 139.9999976158142%;
    --h-1-font-style: normal;
    --h-2-font-family: "Jost-SemiBold", Helvetica;
    --h-2-font-weight: 600;
    --h-2-font-size: 24px;
    --h-2-letter-spacing: 0px;
    --h-2-line-height: 110.00000238418579%;
    --h-2-font-style: normal;
    --h-3-font-family: "Jost-Medium", Helvetica;
    --h-3-font-weight: 500;
    --h-3-font-size: 12px;
    --h-3-letter-spacing: 0px;
    --h-3-line-height: 150%;
    --h-3-font-style: normal;
    --b-1-font-family: "Jost-Regular", Helvetica;
    --b-1-font-weight: 400;
    --b-1-font-size: 16px;
    --b-1-letter-spacing: 0px;
    --b-1-line-height: 150%;
    --b-1-font-style: normal;
    --b-2-font-family: "Jost-Regular", Helvetica;
    --b-2-font-weight: 400;
    --b-2-font-size: 14px;
    --b-2-letter-spacing: 0px;
    --b-2-line-height: 150%;
    --b-2-font-style: normal;
    --btn-font-family: "Mulish-Bold", Helvetica;
    --btn-font-weight: 700;
    --btn-font-size: 18px;
    --btn-letter-spacing: 0.54px;
    --btn-line-height: 160.0000023841858%;
    --btn-font-style: normal;
    --m-1-font-family: "Inter-Medium", Helvetica;
    --m-1-font-weight: 500;
    --m-1-font-size: 24px;
    --m-1-letter-spacing: 0px;
    --m-1-line-height: 120.00000476837158%;
    --m-1-font-style: normal;
    --bdt-font-family: "Inter-Bold", Helvetica;
    --bdt-font-weight: 700;
    --bdt-font-size: 13px;
    --bdt-letter-spacing: 0px;
    --bdt-line-height: 120.00000476837158%;
    --bdt-font-style: normal;
    --smt-font-family: "Inter-Regular", Helvetica;
    --smt-font-weight: 400;
    --smt-font-size: 12px;
    --smt-letter-spacing: 0px;
    --smt-line-height: 120.00000476837158%;
    --smt-font-style: normal;
    --variable-collection-blanc: rgba(250, 250, 250, 1);
    --variable-collection-noir: rgba(0, 0, 0, 1);
    --variable-collection-turquoise: rgba(0, 133, 115, 1);
    --variable-collection-gold: rgba(196, 156, 72, 1);
}